<div class="heading p-3">
    <div class="d-flex">
        <div class="col-md-6">
            <h5>Chapter Master</h5>
            <p class="sub-heading">Setup &#8226; <span>Chapter Master</span></p>
        </div>
        <div class="offset-3 col-md-3">
            <input class="form-control search-bar" [(ngModel)]="searchBox" placeholder="Search">
        </div>
    </div>
</div>

<div class="card-body pb-3">
    <h4 class="heading px-4"><img class="pb-1 me-2" src="../../../assets/icons/minus-squared.png"> Create Chapter</h4>
    <div class="d-flex px-4">
        <div class="col-md-6 pe-2">
            <div class="card px-4 py-3">
                <div class="text-area">
                    <form [formGroup]="ChapterForm" (ngSubmit)="onSave()">
                        <div class="row">
                            <div class="col-md-9 form-group">
                                <select class="form-select " formControlName="boardId"
                                    (change)="getMediumByBoardId($event, false)"
                                    [ngClass]="{'is-invalid':submitted && f.boardId.errors}">
                                    <option value="null" disabled selected>Select Board</option>
                                    <option *ngFor="let board of BoardsList" value="{{board.id}}">{{board.name}}
                                    </option>
                                </select>
                                <div *ngIf="f.boardId.errors" class="invalid-feedback">
                                    <div *ngIf="f.boardId.errors.required">Board is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9 form-group">
                                <select class="form-select mt-3" formControlName="mediumId"
                                    (change)="getClassByMediumId($event, false)"
                                    [ngClass]="{'is-invalid':submitted && f.mediumId.errors}">
                                    <option value="null" disabled selected>Select Medium</option>
                                    <option *ngFor="let medium of MediumList" value="{{medium.id}}">{{medium.name}}
                                    </option>
                                </select>
                                <div *ngIf="f.mediumId.errors" class="invalid-feedback">
                                    <div *ngIf="f.mediumId.errors.required">Medium is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9 form-group">
                                <select class="form-select mt-3" formControlName="classId"
                                    (change)="getSubjectByClassId($event, false)"
                                    [ngClass]="{'is-invalid':submitted && f.classId.errors}">
                                    <option value="null" disabled selected>Select Class</option>
                                    <option *ngFor="let class of ClassList" value="{{class.id}}">{{class.className}}
                                    </option>
                                </select>
                                <div *ngIf="f.classId.errors" class="invalid-feedback">
                                    <div *ngIf="f.classId.errors.required">Class is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9 form-group">
                                <select class="form-select mt-3" formControlName="subjectId"
                                    (change)="getBookBySubjectId($event, false)"
                                    [ngClass]="{'is-invalid':submitted && f.subjectId.errors}">
                                    <option value="null" disabled selected>Select Subject</option>
                                    <option *ngFor="let subject of SubjectList" value="{{subject.id}}">{{subject.name}}
                                    </option>
                                </select>
                                <div *ngIf="f.subjectId.errors" class="invalid-feedback">
                                    <div *ngIf="f.subjectId.errors.required">Subject is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-9 form-group">
                                <select class="form-select mt-3" formControlName="bookId"
                                    (change)="getChapterByBookId($event)"
                                    [ngClass]="{'is-invalid':submitted && f.bookId.errors}">
                                    <option value="null" disabled selected>Select Book</option>
                                    <option *ngFor="let book of BooksList" value="{{book.id}}">{{book.name}}</option>
                                </select>
                                <div *ngIf="f.bookId.errors" class="invalid-feedback">
                                    <div *ngIf="f.bookId.errors.required">Book is required</div>
                                </div>
                            </div>
                        </div>

                        <div formArrayName="chapterArray">
                            <div *ngFor="let item of chapterArray.controls; let i = index ; index as qws"
                                [attr.data-index]="i" [formGroupName]="i">

                                <div class="row">
                                    <div class="col-md-9">
                                        <input class="form-control" id="" formControlName="chapterName"
                                            placeholder="Enter Chapter"
                                            [ngClass]="{'is-invalid':submitted && chapterArray.value[i].chapterName == null }">
                                        <div *ngIf="submitted && chapterArray.value[i].chapterName == null"
                                            class="invalid-feedback">
                                            Chapter is required
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="number" class="form-control" formControlName="order"
                                            placeholder="Order"
                                            [ngClass]="{ 'is-invalid': submitted && chapterArray.value[i].order == null }">
                                        <div *ngIf="submitted && chapterArray.value[i].order == null"
                                            class="invalid-feedback">
                                            <div *ngIf="submitted">Order is required</div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <button *ngIf="chapterArray.controls.length>1" class="btn remove-btn"
                                            type="button" (click)="removechapter(item)">X</button>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-md-6 form-group">
                                        <label class="drop-container" id="dropcontainer">
                                            <span *ngIf="!chapterArray.value[i].thumbnail" class="drop-title">Drop
                                                file here</span>
                                            <span *ngIf="chapterArray.value[i].thumbnail" class="drop-title">Uploaded
                                            </span>
                                            <input type="file" id={{i}} (change)="onFileSelect($event)" accept="image/*"
                                                [ngClass]="{'is-invalid':submitted && !chapterArray.value[i].thumbnail }"
                                                required>
                                        </label>
                                        <div class="thumbnail-message"
                                            *ngIf="submitted && !chapterArray.value[i].thumbnail"
                                            class="invalid-feedback-thumbnail">
                                            Image is required
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <img [src]="chapterArray.value[i].thumbnail" formControlName="thumbnail"
                                            class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="from-group action-buttons">
                            <button class="btn addMore-btn" type="button" (click)="addchapter()"
                                *ngIf="formType == 'Save'">Add Chapter</button>
                            <button class="btn save-btn" type="submit" *ngIf="formType == 'Save'">Save</button>
                            <button class="btn save-btn" type="submit" *ngIf="formType == 'Update'">Update</button>
                            <button class="btn cancel-btn" type="button" (click)="cancelBtn()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- table  -->
        <div class="col-md-6 ps-2">
            <div class="card p-3">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <select class="form-select" (change)="getMediumByBoardId($event, false)">
                            <option value="" disabled selected>Select board </option>
                            <option value="{{board.id}}" *ngFor="let board of BoardsList">{{board.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <select class="form-select" (change)="getClassByMediumId($event, false)">
                            <option value="" disabled selected>Select medium </option>
                            <option value="{{medium.id}}" *ngFor="let medium of MediumList">{{medium.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <select class="form-select" (change)="getSubjectByClassId($event, false)">
                            <option value="" disabled selected>Select class </option>
                            <option value="{{class.id}}" *ngFor="let class of ClassList">{{class.className}}
                            </option>
                        </select>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-md-4 mb-3">
                        <select class="form-select" (change)="getBookBySubjectId($event, false)">
                            <option value="" disabled selected>Select subject </option>
                            <option value="{{subject.id}}" *ngFor="let subject of SubjectList">{{subject.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3 ">
                        <select class="form-select" (change)="getChapterByBookId($event)">
                            <option value="" disabled selected>Select Book </option>
                            <option value="{{book.id}}" *ngFor="let book of BooksList">{{book.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <hr>
                <table class="table table-responsive table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Chapters</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let data of allChapter | paginate: paginationConfig | customFilter:searchBox;let i = index">
                            <td>{{data.chapterName}}
                                <div class="float-end table-action-btn">
                                    <button class="edit" type="button"><i class="bi bi-pencil-fill"
                                            (click)="onEditChapter(data)"></i></button> &nbsp;
                                    <button class="delete" type="button" (click)="deleteSubject(data.id)"><i
                                            class="bi bi-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr class="text-center" *ngIf="allChapter?.length == 0 || !allChapter">
                            Not records found
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-2">
                        <select class="form-select" (change)="selectPaginationSize($event)">
                            <option value="10" selected>10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div class="col-md-10 pt-2">
                        <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>