<div>
    <img class="m-3" src="../assets/icons/Head.png">

    <button class="btn m-2" routerLink="/board">
        <img src="../assets/icons/cap.png" style="filter: brightness(0.6);"> 
    </button>  
    <button class="btn m-2" routerLink="/medium-master">
        <img src="../assets/icons/icon2.png">
    </button>
    <button class="btn m-2" routerLink="/class-master">
        <img src="../assets/icons/icon3.png">
    </button>
    <button class="btn m-2" routerLink="/subject-master">
        <img src="../assets/icons/icon4.png">
    </button>
    <button class="btn m-2" routerLink="/book-master">
        <img src="../assets/icons/icon5.png">
    </button>
    <button class="btn m-2" routerLink="/chapter">
        <img src="../assets/icons/icon6.png">
    </button>
    <button class="btn m-2" routerLink="/lesson-master">
        <img src="../assets/icons/icon7.png">
    </button>
    <button class="btn m-2" routerLink="/boardcast">
        <img src="../assets/icons/icon8.png">
    </button>
    <button class="btn m-2" routerLink="/plan">
        <img src="../assets/icons/icon8.png">
    </button>
    <button class="btn m-2" routerLink="/studio">
        <img src="../assets/icons/icon4.png">
    </button>
</div>