
<button class="pe-4 pb-4 toggle-btn" (click)="toggleSwitch()">
    <img src="../assets/icons/toggle.png">
</button>
<div class="row">
    <div class="col-md-6 ps-5">
        <img class="search-icon pb-1" src="../assets/icons/magnifier.png">
        <input class="search-bar mt-3 ms-2" placeholder="Search anything here">
    </div>
    <div class="col-md-6 right-icons">
        <img src="../assets/icons/settings.png">
        <img src="../assets/icons/bell.png">
        <img class="user" src="../assets/icons/avatar.png">
        <img src="../assets/icons/logout.png">
    </div>
</div>