@import "/node_modules/bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


html,
body {
    padding: 0;
    margin: 0;
    background-color: #f4f4f6;
    font-family: 'Inter', sans-serif;
}

.body .card {
    height: 65vh;
}

.body .card-body .card {
    overflow-y: auto;
}

.card-body .form-control,
.form-select {
    font-family: 'Inter', sans-serif;
    height: 50px !important;
    color: gray;
    font-size: 13px;
    font-weight: 600;
}

form select,
input {
    margin-top: 20px;
}

.action-buttons {
    margin-top: 40px;
}

.action-buttons button {
    font-size: 13px;
    font-weight: 600;
    padding: 12px 0;
    width: 120px;
    margin: 0 10px;
}

.action-buttons button:hover {
    background-color: transparent;
}

.action-buttons button .bi {
    font-size: 18px;
    font-weight: 600;
}

.addMore-btn {
    background-color: #4FA14D !important;
    color: white !important;
}

.save-btn {
    background-color: #33306D !important;
    color: aliceblue !important;
}

.cancel-btn {
    background-color: #FFF5F8 !important;
    color: #F1416C !important;
}

.remove-btn {
    background-color: red !important;
    color: #fff !important;
    margin-top: 25px;
}

.x-btn {
    font-size: small;
    background-color: #F53B00;
    color: white;
}

.heading h5 {
    font-weight: 600;
}

.heading .sub-heading {
    color: gray;
    font-size: 14px;
}

.heading .sub-heading span {
    color: #5014D0;
}

.card-body .heading {
    font-weight: 600;
}

.card-body .card {
    border: none;
}

.card-body table {
    font-size: 14px;
}

.card-body table tr td {
    color: gray;
}

.card-body table tr {
    transition: transform 0.5s;
    line-height: 35px;
    min-height: 35px;
    height: 35px;
}

.card-body table tr:hover {
    transform: scale(1.04);
}

.table-action-btn button {
    border-radius: 50%;
    width: 35px;
    color: #fff;
    opacity: .9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

.table-action-btn .edit {
    background-color: #33306D;
}

.table-action-btn .delete {
    background-color: red;
}

.ngx-pagination .current,
.btn-info {
    background: #33306D !important;
    border: transparent !important;
    border-radius: 5px !important;
}

.ngx-pagination .current:hover {
    background: #33306D !important;
    border-radius: 5px !important;
    border: transparent !important;
}

/* Scroll */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: silver; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: silver; 
  }